<% content_for :title, "Editing club locker room" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing club locker room</h1>

  <%= render "form", club_locker_room: @club_locker_room %>

  <%= link_to "Show this club locker room", @club_locker_room, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to club locker rooms", club_locker_rooms_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
