<div id="<%= dom_id club_training_center %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Club profile:</strong>
    <%= club_training_center.club_profile_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= club_training_center.name %>
  </div>
</div>
