<% content_for :title, "New coach profile" %>

<h1>New coach profile</h1>

<%= render "form", coach_profile: @coach_profile %>

<br>

<div>
  <%= link_to "Back to coach profiles", coach_profiles_path %>
</div>
