<div id="<%= dom_id club_team %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Club profiles:</strong>
    <%= club_team.club_profiles_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= club_team.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sports:</strong>
    <%= club_team.sports_id %>
  </div>
</div>
