<div id="<%= dom_id report_profile %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Users:</strong>
    <%= report_profile.users_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= report_profile.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Resolved:</strong>
    <%= report_profile.resolved? ? "Yes" : "No" %>
  </div>
</div>
