<div id="<%= dom_id coach_team %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Coach profiles:</strong>
    <%= coach_team.coach_profiles_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Club teams:</strong>
    <%= coach_team.club_teams_id %>
  </div>
</div>
