<% content_for :title, "Editing club invitation player" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing club invitation player</h1>

  <%= render "form", club_invitation_player: @club_invitation_player %>

  <%= link_to "Show this club invitation player", @club_invitation_player, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to club invitation players", club_invitation_players_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
