<div id="<%= dom_id club_invitation_coach %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Club profile:</strong>
    <%= club_invitation_coach.club_profile_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Coach profile:</strong>
    <%= club_invitation_coach.coach_profile_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= club_invitation_coach.status %>
  </div>
</div>
